<section class="coffee-catalog">
    <div class="coffee-catalog__heading">
        <h1>Our Collection</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam porro illum reiciendis iure autem. Magni
            commodi explicabo, cupiditate atque suscipit aperiam tempore ex, optio rem, necessitatibus fugiat id
            inventore blanditiis?</p>
    </div>
    <div *ngFor="let coffeeProduct of coffeeProductList">
        <app-coffee-product [coffeeProduct]="coffeeProduct"></app-coffee-product>
    </div>
</section>