.container_coffee_Form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container_coffee_Form form {
    max-width: 450px;
}

.container_coffee_Form form label,
input {
    width: 100%;
    margin: 15px 0;
}


.container_coffee_Form--checkbox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container_coffee_Form--checkbox input {
    width: 15px !important;
    height: 15px;
}

.container_coffee_Form--checkbox label {
    width: auto !important;
}